URxvt.scrollBar: false
URxvt.letterSpace: 0

! Copy & Paste

!URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Insert: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

! URxvt*font: xft:monaco:size=8

*.font: xft:Iosevka:style=Regular:size=11
*.boldFont: xft:Iosevka:style=Bold:size=11
*.italicFont: xft:Iosevka:style=Italic:size=11
*.boldItalicFont: xft:Iosevka:style=Bold Italic:size=11

! special
*.foreground:   #a5a2a2
*.background:   #090300
*.cursorColor:  #a5a2a2

! black
*.color0:       #090300
*.color8:       #5c5855

! red
*.color1:       #db2d20
*.color9:       #db2d20

! green
*.color2:       #01a252
*.color10:      #01a252

! yellow
*.color3:       #fded02
*.color11:      #fded02

! blue
*.color4:       #01a0e4
*.color12:      #01a0e4

! magenta
*.color5:       #a16a94
*.color13:      #a16a94

! cyan
*.color6:       #b5e4f4
*.color14:      #b5e4f4

! white
*.color7:       #a5a2a2
*.color15:      #f7f7f7
